name: Build APK

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    # استخدم Java 8 فقط
    - name: Setup JDK 8
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 8

    - name: Install Android SDK
      run: |
        sudo apt-get update
        sudo apt-get install -y wget unzip

        mkdir -p android-sdk/cmdline-tools
        cd android-sdk/cmdline-tools

        wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip -O sdk.zip
        unzip sdk.zip
        mv cmdline-tools latest

        export ANDROID_HOME=$PWD/../../
        export PATH=$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/platform-tools:$PATH

        yes | sdkmanager --licenses

        sdkmanager "platform-tools"
        sdkmanager "platforms;android-30"
        sdkmanager "build-tools;30.0.3"

    - name: Create local.properties
      run: echo "sdk.dir=$PWD/android-sdk" > local.properties

    - name: Grant permission
      run: chmod +x gradlew

    - name: Clean project
      run: ./gradlew clean --no-daemon

    - name: Build APK
      run: ./gradlew assembleDebug --no-daemon --stacktrace

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: AutoCalc-APK
        path: app/build/outputs/apk/debug/app-debug.apk
